table {
    border-collapse: separate;
    border-spacing: 8px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}
